name: RJMS Generator

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: |
          pip install requests

      - name: Generate Playlist
        env:
          JSON_URL: ${{ secrets.JSON_URL }}
          EPG_URL: ${{ secrets.EPG_URL }}
        run: |
          python rjms.py

      - name: Commit & Push Playlist
        run: |
          git config --global user.name "playlist-bot"
          git config --global user.email "bot@github.com"
          git add master.m3u
          git commit -m "Auto update playlist" || true
          git push
